body {
    background-color: var(--black-color);
}

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    height: 100vh;
    width: 8.3vw;  
    background-color: var(--black-color);
    z-index: 3;
  
}

.nav-container h1 {
    margin-top: 60px;
    margin-left: 20px;
    position: fixed;
    word-break: break-all;
    width: 30px;
    height: auto;
    background-color: var(--black-color);
    font-size: 2.7rem;

    .rowbreak {
        color: var(--black-color);
    }
    
}

.page1 {
    margin-left: 8.3vw;
    border-left: 0.5rem solid var(--yellow-color);
    border-right: 0.5rem solid var(--yellow-color);

    .top {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
    }

    .pagetitle {
        grid-column: 1 / span 4;
        height: 50vh;

        .drizzle {
            font-size: 3rem;
            right: 0;
            top: -28px;
        }

        .tahini {
            font-size: 5.2rem;
        }

        .chickpeas {
            font-size: 2rem;
            top: 66px;
        }
    }

    .text1-page1 {
        grid-column: 5 / span 7;
        height: 50vh;
        width: 50vw;
        font-size: 2.2rem;
        text-align: left;
    }

    .bottom {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
    }

    .saladwrapper {
        grid-column: 1 / span 5;
        width: 38vw;

    }

    .saladimage {
        max-width: 38vw;
        max-height: 50vh;
            
    }

    .white-arrow {
        width: 4rem;
        height: 4rem; 
    }

    .arrow-container .explore p a {
        text-align: left;
    }

    .text2-page1 {
        grid-column: 6 / span 6;
        text-align: left;
        font-size: 2.4rem;
        width: 48.8vw;
        height: 50vh;
        
        p {
            margin: 0;
        }

        .a {
            text-align: left;
        }
    }
}

#top-page2 {
 
    .gallery {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        gap: 16px;
        grid-column: 1 / span 11;
        align-items: center;
    }

    .meze-mobile {
        display: none;
    }

    .meze-container {
        grid-column: 1 / span 3;
    }

    .meze {
        display: block;
        height: 20rem;
        width: 20rem;
        margin-top: 0.5rem;
        object-fit: cover;
        margin-right: 0.5rem;
    }

    .hummus-container {
        grid-column: 4 / span 4;
    }

    .hummus {
        display: block;
        height: 20rem;
        width: 27.3rem;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        object-fit: cover;
    }

    .tzatziki-container {
        grid-column: 8 / span 4;
    }

    .tzatziki {
        display: block;
        height: 20rem;
        width: 27.3rem;
        margin-top: 0.5rem;
        object-fit: cover;
    }

}

.page2 {
    margin-left: 8.3vw;

    .bottom-page2 {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        gap: 16px;
        grid-column: 1 / span 11;
    }

    .menu {
        grid-column: 1 / span 11;

    }

    .item-name {
        font-size: 2rem;
    }

    .pricetag {
        font-size: 1.5rem;
    }

    .ingredients {
        font-size: 1.5rem;
    }

    .menu-item-popular, .menu-item-new, .menu-item-vegan {
        font-size: 1.3rem;
    }
}

.page3 {
    margin-left: 8.3vw;
    display: flex;
    border-left: 0.5rem solid var(--white-color);

    .top-page3,
    .contact-form {
        flex: 1;
        display: grid;
        gap: 16px;
    }

    .top-page3 {
        grid-template-columns: repeat(5, 1fr); 
        order: 2;
    }

    .contact {
        grid-column: 1 / span 5;
    }

    .contactphoto {
        width: 60vh;
        height: 60vh;
    }

    .contact-item {
        font-size: 1.5rem;
    }

    .material-symbols-outlined {
        font-size: 50px;
        margin-right: 10px;
        color: var(--light-blue-color);
        text-shadow: -2px -1px 0px var(--black-color);
      }
              
    a {
        text-decoration: none;
        color: var(--light-blue-color);
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold; 
        text-shadow: -2px -1px 0px var(--black-color);
        white-space: pre-line;
    }

    .contact-form { 
        order: 1;
        grid-template-columns: repeat(5, 1fr); 
        align-items: center;
    }

    form {
        grid-column: 1 / span 5;
    }

    .contact-heading {
        font-size: 2.5rem;
    }

    label {
        font-size: 1.5rem;
    }

    input {
        height: 2.5rem;
        width: 30rem;
    }

    .cancel, .request {
        padding: 0.5rem 2rem 0.5rem 2rem;
        font-size: 1.5rem;
    }
    
}

footer {
    height: 8vh;

    .cookies-container {
        height: 6rem;

        p {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
    }
      
    .accept {
        padding: 0.5rem 2rem 0.5rem 2rem;
        font-size: 1.5rem;
        margin-top: 0.2rem;
    }

    .decline {
        padding: 0.5rem 2rem 0.5rem 2rem;
        font-size: 1.5rem;

    }
    
}


.page1, .page2, .page3 {
    min-height: 100vh;
    outline: 5px solid red;
}
