header {
    padding: 0;
    position: fixed;
    top: 0;
    border-bottom: #fff136 solid 0.3rem;
    width: 100vh;
    z-index: 100;
    display: flex;

  h1 {
    margin: 1rem 1rem;
    font-size: 1.7rem;
    letter-spacing: 0.4rem;
    justify-content: center;
    white-space: nowrap;
    z-index: 101;
  }
}

.page1 {
  padding: 1.2rem;
  border-top: 5px solid #fff136;
  border-bottom: 5px solid #fff136;
  text-align: center;

  .pagetitle {
    span:nth-child(1) {
      color: #00ff39;
    }
  
    span:nth-child(2) {
      color: #ab76ff;
    }
  
    span:nth-child(3) {
      color: #fff136;
    }
  }

  .text1-page1 {
    font-size: 1.1rem;
  }

  .text2-page1 {
    font-size: 1.1rem;
    padding: 0.1rem;
    margin: 0rem 0.4rem 0rem 0.4rem;
    border-left: 10px #fff136;

    p {
      margin-bottom: 0.2rem;
    }
  
    p span {
      display: block;
      text-transform: uppercase;
      color: #000000;
    }
  
    .arrow-container {
      display: flex;
      justify-content: center;
      margin: 0;

      .black-arrow {
        align-self: flex-end;
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  
    .explore {
      margin: 0;
      margin-top: 0.2rem;
    }
      
  }

  .saladwrapper {
    position: relative;

    .saladimage {
      max-width: 90%;
      max-height: 15rem;
      padding: 1rem;
    }

    .white-arrow {
        transform: rotate(90deg);
        position: absolute;
        bottom: 0;
        left: 4rem;
    }

  }

}

.page2 {
  padding: 0.1rem;
    
  .gallery {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    transform: rotate(90deg);

    figure {
      margin: 0;
    }

    .meze {
      height: 20rem;
      width: 15rem;
    }

    .hummus {
      height: 10rem;
      width: 18rem;
      display: none;
    }

    .tzatziki {
      height: 15rem;
      width: 10rem;
      display: none;
    }
  }

  .menu {
    display: block;
    justify-content: center;
    margin: 1rem;
    padding: 0;

    .span-container {
      display: flex;
      justify-content: space-between;
    }
  }
}

.page3 {
  padding: 0.1rem;

  .contact {
    display: flex;
    justify-content: center;
  }

  .contact-heading {
    font-size: 1.5rem;
  }

  .contactphoto {
    height: 12rem;
    width: 20rem;
  }

  .contact-form {
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-left: 1rem;
    
    label {
      margin: 0.2rem 0;
    }

    input {
      border: none;
      border-radius: 10rem;
    }

    input, textarea {
      margin: 5px 0;
      padding: 5px;
      font-family: roboto condensed, sans-serif;
    }

    .button-container {
      margin-top: 1rem;
    }
  }

    .cancel {
      font-family: jockey-one, sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      border-radius: 10rem;
      background-color: #ab76ff;
      padding: 0.3rem 2rem 0.3rem 2rem;
    }

  .request {
    font-family: jockey-one, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 10rem;
    background-color: #fff136;
    padding: 0.3rem 2rem 0.3rem 2rem;
    margin-left: 0.3rem;
  }
}