h1 {
    span {
        color: var(--black-color);
    }
}

.page1 .pagetitle {
    position: relative;
    min-width: 300px;
    min-height: 130px;

    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    .drizzle, .chickpeas {
        position: absolute;
    }

    .chickpeas {
        z-index: -1;
    }
}

.menu {
    list-style: none;

    .menu-item {
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        margin-bottom: 4px;
        padding: 2px;
    }
}