header {
    background-color: #000000;
    color: #ffffff;

    .navmenu li button {
        font-family: 'jockey-one', sans-serif;
        text-transform: uppercase;
        font-size: 2.5rem;
        background-color: transparent;
        border: none;
    }

    h1 {
        background-color: #000000;
        font-family: 'jockey-one', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.page1 {
    background-color: #000000;

    .pagetitle {
        span {
            font-family: 'jockey-one', sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2rem;
        }
    }

    .text1-page1 {
        font-family: 'jockey-one', sans-serif;
        color: #00ff39;
        font-weight: bold;
      }

    .text2-page1 {
        font-family: 'jockey-one', sans-serif;
        color: #ab76ff;
        font-weight: bold;
        background-color: #ffffff;
        border-left: 2rem solid #fff136;

        .explore a {
            color: #000000;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}

.page2 {
    background-color: #fff136;

    .menu-item {
        background-color: #ffffff;
    }
    
    .item-name {
        color: #000000;
        text-transform: uppercase;
        font-family: 'jockey-one', sans-serif;
        font-weight: bold;
    }
    
    .pricetag {
        color: #000000;
        font-family: 'jockey-one', sans-serif;
        font-weight: bold;
    }

}

.page3 {
    background-color: #00ff39;

    .contact-heading {
        font-family: 'jockey-one', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
    }

    label {
        font-family: 'jockey-one', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
    }

}

footer {
    background-color: #ab76ff;

    p {
        font-family: 'roboto-condensed', sans-serif;
    }
}


